<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular 2 Quickstart</title>
    <link rel="stylesheet" href="/app/lib/bootstrap/dist/css/bootstrap.min.css"></link>
    <link href="/app/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/app/lib/hover.css/css/hover.css" rel="stylesheet" media="all">
  </head>
  <body>
  
    @RenderBody()
  
    <script src="/app/lib/traceur-runtime/traceur-runtime.js"></script>
	  <script src="/app/lib/systemjs/system@0.16.11.js"></script>
    <script src="/app/lib/angular2/angular2.dev.js"></script>
    <script src="/app/lib/angular2/router.dev.js"></script>
    <script src="/app/lib/jquery/dist/jquery.min.js"></script>
    <script src="/app/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
      System.config({
        baseURL: '/app',
        map:{
          'lodash':'lib/lodash/index',
          'fetch':'lib/whatwg-fetch/fetch'
        }
      });
      System.import('contact-manager');
    </script>
  </body>
</html>